<div *ngIf="!isLoggedIn">
  <router-outlet></router-outlet>
</div>

<div *ngIf="isLoggedIn" class="bg-black min-h-screen">
  <div class="app-container flex items-start flex-wrap justify-start">
    <!-- Menu Sidebar -->
    <app-menu-sidebar class="pt-2 w-[12%] sm:w-[10%] xl:w-[22%]"></app-menu-sidebar>

    <!-- Main Content -->
    <div
      class="ml-auto sm:ml-0 w-[calc(88%-10px)] sm:w-[90%] lg:w-[55%] xl:w-[48%] border-l border-r border-slate-700">
      <router-outlet></router-outlet>
    </div>

    <!-- User Sidebar -->
    <app-user-sidebar
      class="pt-2 hidden lg:block w-[calc(20%-20px)] xl:w-[calc(28%-20px)] 2xl:w-[calc(28%-30px)] ml-0 lg:ml-[20px] 2xl:ml-[30px]"></app-user-sidebar>
  </div>
</div>


<router-outlet></router-outlet>