<form [formGroup]="tweetForm" (ngSubmit)="postTweet()" class="pb-4 border-b border-slate-700 order-1 relative z-10">
  <div class="px-[20px] py-0 flex items-start gap-[15px]">
    <svg class="w-[45px] invert" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
      viewBox="0 0 20 20">
      <path
        d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z" />
    </svg>
    <textarea id="content" formControlName="content" rows="2"
      class="px-0 py-2 w-full bg-transparent border-0 resize-none text-white font-medium text-[20px] outline-none focus:ring-0 focus:border-b focus:border-primary"
      placeholder="What is happening?!"></textarea>
  </div>
  <div class="px-[20px] mt-3 text-right">
    <button type="submit" [disabled]="!tweetForm.valid || !isBtnEnabled"
      class="w-[75px] h-[36px] text-[15px] font-bold rounded-full bg-primary text-white hover:bg-blue-500 transition duration-300"
      [ngClass]="{
        'cursor-not-allowed': !tweetForm.valid,
        'cursor-pointer': tweetForm.valid
      }">Tweet</button>
  </div>
</form>