<div class="flex items-center flex-wrap">
  <div
    class="bg-[url('https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png')] h-[500px] lg:h-screen basis-[100%] lg:basis-[55%] order-1 lg:order-0 grid place-content-center">
    <svg viewBox="0 0 24 24" aria-hidden="true" class="w-[329px] invert">
      <g>
        <path
          d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z">
        </path>
      </g>
    </svg>
  </div>

  <div
    class="basis-[100%] lg:basis-[45%] order-0 lg:order-1 px-[30px] lg:pl-[36px] bg-black h-[700px] lg:h-screen text-white grid place-content-center justify-start">
    <svg viewBox="0 0 24 24" aria-hidden="true" class="w-[45px] invert">
      <g>
        <path
          d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z">
        </path>
      </g>
    </svg>

    <h1 class="mt-[48px] lg:mt-[68px] text-[52px] lg:text-[64px] font-bold leading-tight">Happening now</h1>

    <h4 class="mt-[36px] lg:mt-[50px] text-[26px] lg:text-[30px] font-bold">Join Twitter today.</h4>

    <!-- Signup Modal -->
    <app-signup-modal></app-signup-modal>

    <!-- Login Modal -->
    <app-login-modal></app-login-modal>
  </div>
</div>