<div class="flex items-center p-3 rounded-lg hover:bg-slate-800 transition duration-300">
  <a [routerLink]="['/profile', user.id]">
    <svg class="w-[35px] invert" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
      viewBox="0 0 20 20">
      <path
        d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z" />
    </svg>
  </a>
  <a [routerLink]="['/profile', user.id]" class="ml-4 text-[15px]">
    <p class="text-white min-w-[90px] break-all">{{ user.email }}</p>
    <p class="mt-[-2px] text-gray-500"><span class="mr-[-2px]">@</span> {{ user.username }}</p>
  </a>
  <button type="button" *ngIf="!isFollowed && !isSearchValueExist" (click)="followUser(user.id)"
    class="min-w-[78px] h-[32px] ml-auto font-bold text-[14px] rounded-full bg-white text-black hover:bg-primary hover:text-white transition duration-300">Follow</button>
  <button type="button" *ngIf="isFollowed && !isSearchValueExist" (click)="unfollowUser(user.id)"
    class="min-w-[78px] h-[32px] ml-auto font-bold text-[13px] rounded-full bg-white text-primary hover:bg-primary hover:text-white transition duration-300">Following</button>
</div>