/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  max-width: 95%;
  margin-inline: auto;
}

@media screen and (min-width: 768px) {
  .app-container {
    max-width: 90%;
  }
}

@media screen and (min-width: 1600px) {
  .app-container {
    max-width: 70%;
  }
}
